
/* Global variables for colors */

:root {
    --primary-bg: #A0653E;
    --tertiary-bg: #FFFFFD;
    --accent-color: #2A221F;
    --neutral-color: white;
}

/* Header */

.header{
    background-color: var(--accent-color);
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .6rem .6rem 0 0;
}

.header__logo{
    width: 3.5rem;  
    height: 3.5rem;
    margin-left: 3rem ;
}

.header__nav-list{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.header__nav-item{
    list-style-type: none; 
    margin: 0 1.5rem;
    cursor: pointer;
    transition: background-color 500ms ease, transform 500ms ease; 
}

.header__nav-item:hover{
    padding: .3rem .3rem;
    border-radius: .3rem;
    background-color: var(--primary-bg);
    transform: scale(1.1);
}


.header__nav-link{
    color: var(--neutral-color);
    font-size: 1.3rem;
    text-decoration: none;
}

/* Search bar*/

.header__search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--tertiary-bg);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.header__search-input:focus {
    border-color: var(--primary-bg);
    box-shadow: 0px 0px 5px var(--primary-bg);
}

.header__search-input {
    border: none;
    outline: none;
    font-size: .8rem;
    padding: .2rem .5rem;
}

.header__search-button {
    background: none;
    border: none;
}

.header__search-icon {
    height: 20px;
    width: 20px;
    fill: #333;
}


/* footer */

.footer{
    background-color: var(--accent-color);
    padding: 1rem;
    text-align: center;
    color: var(--neutral-color);
}

.footer__link{
    text-decoration: none;
    padding: 1rem;
    padding-right: 1rem;
    color: var(--neutral-color);
}

.footer__copyright{
    color: var(--neutral-color);
}