    <footer class="footer">
      <!-- Link to the legal mentions page -->
      <a href="#" class="footer__link">Mentions légales</a>
      <!-- Copyright notice -->
      <small class="footer__copyright">Arôm'Coffee ©</small>
    </footer>
  
  </body>
</html>