
</head>

<body>
<header class="header">
    <!-- Logo linking to home page -->
    <a href="/"><img class="header__logo" src="../images/logo.svg" alt="logo Arôm'Coffee"></a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <!-- Navigation links -->
        <li class="header__nav-item"><a href="/" class="header__nav-link">Accueil</a></li>
        <li class="header__nav-item"><a href="/catalogue" class="header__nav-link">Catalogue</a></li>
        <li class="header__nav-item"><a href="/boutique" class="header__nav-link">Boutique</a></li>
        <li class="header__nav-item"><a href="/panier" class="header__nav-link">Panier</a></li>
        <!-- Search form -->
        <li><form action="/catalogue/name" method="GET" class="header__search-form">
          <input type="text" name="name" class="header__search-input" placeholder="Rechercher un café..." aria-label="Rechercher un café">
          <button type="submit" class="header__search-button" aria-label="Rechercher"><img src="/images/search.svg" alt="icône de recherche" class="header__search-icon"></button></form>
        </li>
      </ul>
    </nav>
</header>