
</head>

<body>
<header class="header">
    <a href="/"><img class="header__logo" src="../images/logo.svg" alt="logo Arôm'Coffee"></a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="/" class="header__nav-link">Accueil</a></li>
        <li class="header__nav-item"><a href="/catalogue" class="header__nav-link">Catalogue</a></li>
        <li class="header__nav-item"><a href="/boutique" class="header__nav-link">Boutique</a></li>
      </ul>
    </nav>
</header>