<%- include('./partials/header') %>

<title>Arôm'Coffee - Erreur 404</title>

<%- include('./partials/font-and-style') %>

<%- include('./partials/nav') %>

    <main class="container__404">
      <!-- Image for 404 error page -->
        <img class="image__404" src="../images/404-error-not-found-web-260nw-2193463605.jpg" alt="erreur 404">
    </main>


<%- include('./partials/footer') %>