<%- include('./partials/header') %>

<title>Arôm'Coffee - Erreur 404</title>

<%- include('./partials/font-and-style') %>

<%- include('./partials/nav') %>

    <main class="container__404">
        <img class="image__404" src="../images/404-error-not-found-web-260nw-2193463605.jpg" alt="erreur 404">
    </main>

    <footer class="footer">
        <a href="#" class="footer__link">Mentions légales</a>
        <small class="footer__copyright">O'coffee ©</small>
      </footer>
    </body>
  </html>

<%- include('./partials/footer') %>