<%- include('./partials/header') %>

<title>Arôm'Coffee - Erreur 404</title>

<%- include('./partials/font-and-style') %>


<%- include('./partials/nav') %>

<main>
    <h1>500 - Une erreur s'est produite</h1>
  
    <p>Merci de réessayer plus tard</p>
  
    <a href="/">Retour à l'accueil</a>
  </main>


  <%- include('./partials/footer') %>